@page "{id:int?}"
@model RazorPagesTest.Web.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieModel.Id" />
            <div class="form-group">
                <label asp-for="MovieModel.Title" class="control-label"></label>
                <input asp-for="MovieModel.Title" class="form-control" />
                <span asp-validation-for="MovieModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.ReleaseDate" class="control-label"></label>
                <input asp-for="MovieModel.ReleaseDate" class="form-control" />
                <span asp-validation-for="MovieModel.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Genre" class="control-label"></label>
                <input asp-for="MovieModel.Genre" class="form-control" />
                <span asp-validation-for="MovieModel.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Price" class="control-label"></label>
                <input asp-for="MovieModel.Price" class="form-control" />
                <span asp-validation-for="MovieModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Rating" class="control-label"></label>
                <input asp-for="MovieModel.Rating" class="form-control" />
                <span asp-validation-for="MovieModel.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
